@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');

.landing {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: rgb(255,82,82);
    background: -moz-linear-gradient(-45deg,  rgba(255,82,82,1) 0%, rgba(255,171,64,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(255,82,82,1) 0%,rgba(255,171,64,1) 100%);
    background: linear-gradient(135deg,  rgba(255,82,82,1) 0%,rgba(255,171,64,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5252', endColorstr='#ffab40',GradientType=1 );

    z-index: 99;
}

.landing-container {
    width: 25rem;
    height: auto;

    position: absolute;
    top: calc(50% - 4.25rem);
    left: calc(100% - 30rem);
}

.landing-title {
    width: 100%;
    height: 3rem;
    margin-bottom: 0.25rem;

    position: relative;
    float: right;

    color: white;
    font-size: 2.5rem;
    font-family: 'Rubik Mono One', sans-serif;
    text-align: right;
    line-height: 3rem;

    opacity: 0.9;
}

.landing-description {
    width: 100%;
    height: 2rem;
    margin-bottom: 1.15rem;
    
    position: relative;
    float: right;

    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
    line-height: 2rem;

    opacity: 0.8;
}

.landing-btn {
    width: auto;
    height: 2.5rem;
    padding: 0 1rem;

    position: relative;
    float: right;

    color: white;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.5rem;

    background-color: #F44336;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 0.5rem;

    opacity: 0.8;

    cursor: pointer;
}

.landing-btn:hover {
    opacity: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: 0.5s;
}