.signin {
    width: auto;
    height: auto;

    position: relative;
    float: left;
}

.signin-input {
    width: calc(100% - 0.1rem);
    height: 2rem;

    margin-bottom: 0.5rem;

    position: relative;
    float: left;

    border: none;
    border-bottom: solid 0.05rem var(--color-20);
    border-radius: 0.5rem;

    outline: none;
}

.signin-submit {
    width: 100%;
    height: 2rem;

    margin-bottom: 0.5rem;

    position: relative;
    float: left;

    background-color: var(--color-70);
    border: solid 0.05rem var(--color-20);
    border-radius: 0.5rem;

    cursor: pointer;
    outline: none;
}

.signin-button {
    width: 100%;
    height: 2rem;

    margin-bottom: 0.5rem;

    position: relative;
    float: left;

    background-color: var(--color-30);
    border: solid 0.05rem var(--color-20);
    border-radius: 0.5rem;

    cursor: pointer;
    outline: none;
}