.theme-color {
    width: calc(100% / 7);
    height: 2rem;

    margin: 0;
    padding: 0;

    position: relative;
    float: left;

    background: none;
    border: none;

    outline: none;
    cursor: pointer;
}

.theme-color:nth-child(1) {
    background-color: #e74c3c;
}

.theme-color:nth-child(2) {
    background-color: #e67e22;
}

.theme-color:nth-child(3) {
    background-color: #f39c12;
}

.theme-color:nth-child(4) {
    background-color: #27ae60;
}

.theme-color:nth-child(5) {
    background-color: #2980b9;
}

.theme-color:nth-child(6) {
    background-color: #34495e;
}

.theme-color:nth-child(7) {
    background-color: #8e44ad;
}

.theme-check {
    width: 0.5rem;
    height: 0.5rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
}