.app {
    width: 100%;

    margin: 0;
    padding: 0;

    background: rgb(244,67,54);
    background: -moz-linear-gradient(-45deg,  rgba(244,67,54,1) 0%, rgba(255,235,59,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(244,67,54,1) 0%,rgba(255,235,59,1) 100%);
    background: linear-gradient(135deg,  rgba(244,67,54,1) 0%,rgba(255,235,59,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f44336', endColorstr='#ffeb3b',GradientType=1 );
}

.title {
    width: 7rem;
    height: 3rem;

    color: white;
    font-size: 1rem;
    font-family: 'Rubik Mono One', sans-serif;
    text-indent: 1rem;
    line-height: 3rem;

    cursor: pointer;
}

.audio {
    display: none;
}