.shortcut {
    width: calc(15rem - 2px);
    height: calc(3rem - 2px);

    position: absolute;
    top: calc(100% - 5rem);
    left: 50%;
    transform: translate(-50%, 0);

    border: solid 1px #DDDDDD;
    border-radius: 0.5rem;

    opacity: 0;
    transition: 1s;
}