.application {
    width: calc(100% - 2rem);
    max-width: 70rem;
    height: calc(100% - 2rem);
    max-height: 40rem;
    margin: 1rem;

    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 1rem), calc(-50% - 1rem));

    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 2rem;

    opacity: 0;
    transition: 1s;
}

.default {
    width: calc(100% - 15rem);
    height: calc(100% - 1rem);
    
    padding: 0.5rem;

    position: relative;
    float: left;

    font-size: 0.7rem;
    text-align: center;

    background-color: white;

    transition: 0.5s;
}

.default-active {
    width: calc(100% - 31.5rem);
}