@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');

.header {
    width: 100%;
    height: 3rem;

    position: relative;
    float: left;

    background: rgb(255,82,82);
    background: -moz-linear-gradient(-45deg,  rgba(255,82,82,1) 0%, rgba(255,171,64,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(255,82,82,1) 0%,rgba(255,171,64,1) 100%);
    background: linear-gradient(135deg,  rgba(255,82,82,1) 0%,rgba(255,171,64,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5252', endColorstr='#ffab40',GradientType=1 );

    border-bottom: solid 1px #FF80AB;
    z-index: 9;
}

.header-title {
    color: white;
    font-size: 1.35rem;
    font-family: 'Rubik Mono One', sans-serif;
    text-indent: 1rem;
    line-height: 3rem;
}

.header-user {
    width: 2rem;
    height: 2rem;

    position: absolute;
    top: 0.5rem;
    left: calc(100% - 3rem);

    background-color: white;
    border-radius: 50%;
}