.header {
    width: 100%;
    height: 2rem;

    position: relative;
    float: left;

    background-color: #FFD54F;
}

.header-ci {
    width: 1rem;
    height: 1rem;

    margin: 0.5rem 0.5rem 0.5rem 0.65rem;

    position: relative;
    float: left;
}

.header-title {
    width: auto;
    height: 2rem;

    position: relative;
    float: left;

    color: #F57C00;
    font-size: 1rem;
    font-weight: 900;
    line-height: 2rem;
}

.header-exit {
    width: 0.8rem;
    height: 0.8rem;
    
    margin: 0.6rem;

    position: absolute;
    top: 0;
    left: calc(100% - 2rem);

    color: #F57C00;

    cursor: pointer;
}