.chat {
    width: 15.5rem;
    height: calc(100% - 1rem);

    padding: 0.5rem;
    
    position: absolute;
    top: 0;
    left: 100%;

    background-color: var(--color-10);

    transition: 0.5s;

    z-index: 9;
}

.chat-active {
    left: calc(100% - 20.5rem);
}

.chat-header {
    width: 100%;
    height: 2rem;

    position: relative;
    float: left;

    background-color: var(--color-70);
    border-radius: 0.5rem 0.5rem 0 0;
}

.chat-header-name {
    width: calc(100% - 2.7rem);
    height: 100%;

    position: relative;
    float: left;

    color: white;
    font-size: 0.85rem;
    font-weight: 900;
    text-indent: 0.75rem;
    line-height: 2rem;
}

.chat-header-remove {
    width: 0.7rem;
    height: 0.7rem;

    margin: 0.65rem 0;

    position: relative;
    float: left;

    color: white;

    cursor: pointer;
}

.chat-header-exit {
    width: 0.7rem;
    height: 0.7rem;

    margin: 0.65rem;

    position: relative;
    float: left;

    color: white;

    cursor: pointer;
}

.chat-body {
    width: calc(100% - 1rem);
    height: calc(100% - 8rem);

    padding: 0.5rem;

    position: relative;
    float: left;

    background-color: var(--color-20);
}

.chat-footer {
    width: calc(100% - 1rem);
    height: 4rem;

    padding: 0.5rem;

    position: relative;
    float: left;

    background-color: var(--color-40);
    border-radius: 0 0 0.5rem 0.5rem;
}

.chat-footer-input {
    width: calc(100% - 4rem);
    height: calc(100% - 1rem);

    margin: 0;
    padding: 0.5rem;

    position: relative;
    float: left;

    color: #404040;
    font-size: 0.55rem;
    font-weight: 500;

    background: #FFFFFF33;
    border: none;
    border-radius: 0.5rem;

    outline: none;
    resize: none;
}

.chat-footer-submit {
    width: 2.5rem;
    height: 1.5rem;

    margin-left: 0.5rem;

    position: relative;
    float: left;

    color: white;
    font-size: 0.55rem;
    font-weight: 900;
    text-align: center;
    line-height: 1.5rem;

    background-color: var(--color-70);
    border-radius: 0.5rem;
}