.card {
    width: 15rem;
    height: 25rem;

    overflow: hidden;

    position: absolute;
    top: calc(50% - 12.5rem);
    left: calc(50% - 7.5rem);

    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 1rem;
}

.card-picture {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-size: cover;
    background-position: center;
}

.card-profile {
    width: 100%;
    height: 7.5rem;

    position: absolute;
    top: 17.5em;
    left: 0;

    background-color: #EEEEEE;
    
    opacity: 0.75;
}