.chatlist {
    width: calc(100% - 2rem);
    height: 2rem;

    padding: 0.35rem 1rem;
    margin-bottom: 0.25rem;

    position: relative;
    float: left;
}

.chatlist-active {
    background-color: #DDDDDD;
}

.chatlist-picture {
    width: 2rem;
    height: 2rem;

    position: relative;
    float: right;

    background-color: #CCCCCC;
    border-radius: 50%;
}

.chatlist-name {
    width: calc(100% - 2.5rem);
    height: 1rem;

    padding-right: 0.5rem;

    position: relative;
    float: right;

    color: #505050;
    font-size: 0.6rem;
    font-weight: 700;
    text-align: right;
    line-height: 1rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chatlist-message {
    width: calc(100% - 2.5rem);
    height: 1rem;

    padding-right: 0.5rem;

    position: relative;
    float: right;

    color: #707070;
    font-size: 0.5rem;
    font-weight: 500;
    text-align: right;
    line-height: 1rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}