.chatlist {
    width: 100%;
    height: 2rem;

    margin-bottom: 0.5rem;

    position: relative;
    float: left;

    cursor: pointer;
}

.chatlist-picture {
    width: 2rem;
    height: 2rem;

    position: relative;
    float: right;

    background-color: white;
    border-radius: 50%;
}

.chatlist-picture-active {
    width: 1.6rem;
    height: 1.6rem;
    border: solid 0.2rem #DDDDDD;
}