.profile-title {
    width: calc(100% - 1rem);
    height: auto;

    margin: 0.5rem;
    padding: 0.25rem 0;

    position: relative;
    float: left;

    color: var(--color-50);
    font-size: 0.75rem;
    font-weight: 900;
    text-indent: 0.5rem;
    border-bottom: solid 0.05rem var(--color-20);
}

.profile-description {
    width: calc(100% - 2rem);
    height: auto;

    margin: 0 0.5rem 0.25rem 0.5rem;
    padding: 0 0.5rem;

    position: relative;
    float: left;

    color: #AAAAAA;
    font-size: 0.5rem;
    font-weight: 700;
}

.profile-section {
    width: calc(100% - 2rem);
    height: auto;

    margin: 0.5rem 1rem;

    position: relative;
    float: left;

    transition: 1s;
}

.profile-image {
    width: calc(20% - 2rem / 5);
    padding-top: 26.666%;
    margin-right: 0.5rem;

    position: relative;
    float: left;

    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
}

.profile-image:nth-child(5) {
    margin-right: 0;
}

.profile-image-none {
    width: calc(20% - 2rem / 5 - 0.2rem);
    padding-top: calc(26.666% - 0.2rem);

    border: dotted 0.1rem var(--color-20);
}

.profile-image-none-icon {
    width: 2rem;
    height: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--color-10);
}

.profile-input {
    width: 10rem;
    height: 1.5rem;

    position: relative;
    float: left;

    background: var(--color-10);
    border: none;
}