.application {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    margin: 1rem;

    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;

    background-color: #ECEFF1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    opacity: 0;
    transition: 1s;
}