.application {
    width: calc(100% - 2rem);
    max-width: 64rem;
    height: calc(100% - 2rem);
    max-height: 36rem;
    margin: 1rem;

    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 1rem), calc(-50% - 1rem));

    background-color: #ECEFF1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 0.5rem;

    opacity: 0;
    transition: 1s;
}

.default {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);

    position: relative;
    float: left;

    font-size: 0.7rem;
    text-align: center;

    background-color: #FFF8E1;
}