.map {
    width: 100%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: scroll;

    position: relative;
    float: left;
}

.map-viewer {
    width: 100%;
    height: 100%;

    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
}