.app {
    width: 100%;

    margin: 0;
    padding: 0;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ef5350+0,ffa726+50,ffee58+100 */
    background: rgb(239,83,80); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(239,83,80,1) 0%, rgba(255,167,38,1) 50%, rgba(255,238,88,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(239,83,80,1) 0%,rgba(255,167,38,1) 50%,rgba(255,238,88,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(239,83,80,1) 0%,rgba(255,167,38,1) 50%,rgba(255,238,88,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5350', endColorstr='#ffee58',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.active {
    opacity: 1;
}

body.react-confirm-alert-body-element {
    overflow: hidden;
}

.react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: #202020;
    opacity: 0.99;
}

.react-confirm-alert-body {
    width: 20rem;
    height: 3rem;
    padding: 1rem;

    position: absolute;
    top: calc(50% - 2.5rem);
    left: calc(50% - 11rem);

    color: #808080;
    font-size: 0.75rem;
    font-weight: 900;

    background: #404040;
    border: solid 0.1rem #202020;
    border-radius: 0.5rem;
}

.react-confirm-alert-button-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    margin-top: 0.85rem;
}

.react-confirm-alert-button-group > button {
    width: auto;
    height: auto;

    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;

    color: #AAAAAA;
    font-size: 0.5rem;
    font-weight: 700;

    background: #303030;
    border: none;
    border-radius: 0.25rem;

    cursor: pointer;
    outline: none;
}

@-webkit-keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
